.e102_5 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e102_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e102_6 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(78.00000295042992, 154.00000602006912, 164.00000542402267, 1) 35.9375%,rgba(130.0000074505806, 98.00000175833702, 195.0000035762787, 1) 79.53125238418579%) ;
	width:360px;
	height:654px;
	position:absolute;
	left:0px;
	top:-11px;
}
.e111_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(78.00000295042992, 154.00000602006912, 164.00000542402267, 1) 35.9375%,rgba(130.0000074505806, 98.00000175833702, 195.0000035762787, 1) 79.53125238418579%) ;
	width:360px;
	height:654px;
	position:absolute;
	left:0px;
	top:-11px;
}
.e103_2 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:103px;
	height:101px;
	position:absolute;
	left:123px;
	top:153px;
}
.e103_3 { 
	color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:120px;
	height:44px;
	position:absolute;
	left:115px;
	top:109px;
	font-family:Montserrat;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e103_4 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:270px;
	height:40px;
	position:absolute;
	left:45px;
	top:265px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e103_5 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:270px;
	height:40px;
	position:absolute;
	left:45px;
	top:317px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e103_6 { 
	background-color:rgba(255, 183.5999920964241, 0, 1);
	width:184px;
	height:40px;
	position:absolute;
	left:83px;
	top:373px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e103_7 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:20px;
	position:absolute;
	left:146px;
	top:383px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e103_8 { 
	color:rgba(2.610026984475553, 0.4515601694583893, 108.37500303983688, 1);
	width:43px;
	height:17px;
	position:absolute;
	left:59px;
	top:277px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e103_9 { 
	color:rgba(2.610026984475553, 0.4515601694583893, 108.37500303983688, 1);
	width:49px;
	height:17px;
	position:absolute;
	left:56px;
	top:328px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e103_10 { 
	color:rgba(255, 255, 255, 1);
	width:125px;
	height:15px;
	position:absolute;
	left:122px;
	top:574px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e101_28 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:15px;
	position:absolute;
	left:126px;
	top:417px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
